
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^lockers\.skule\.ca$ [OR]
RewriteCond %{HTTP_HOST} ^www\.lockers\.skule\.ca$
RewriteRule ^(.*)$ "https\:\/\/lockers\.skule\.ca\/$1" [R=301,L]

